
   body {
    background-color: black;
    font-family: Verdana;
  }
  h1 {
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 50px;
  }
  h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 42px;
  }
 .copy {
  text-align: right;
  color: gray;
  font-weight: 300;
  font-size: 21px;
  }

  .download,
  a:link, a:visited {
    text-align: center;
    color: Aquamarine;
    font-size: 16px;
  }
  .displayed {
    text-align: center;
  }
  
